<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <main>
        <article>
            <header>
                <h1 class="mb-2" th:text="${post.title}"></h1>
                <div class="mb-1">
                    <span class="text-muted fs-sm" th:text="${post.author}"></span>
                    <span class="text-muted fs-sm"> | </span>
                    <span class="text-muted fs-sm"
                          th:text="${#temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <div class="mb-1" id="onlyuser">
                    <form>
                        <input type="hidden" id="postId" th:value="${post.id}"/>
                    </form>
                    <a class="text-dark text-decoration-none fs-sm"
                       th:href="'/board/newpost/'+${post.id}">수정</a>
                    <span class="fs-sm"> | </span>
                    <span class="fs-sm" role="button" tabindex="0" id="delete-btn">삭제</span>
                </div>
            </header>
            <hr>
            <div th:text="${post.content}">
            </div>
        </article>
    </main>
</th:block>
</html>