<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <main>
        <h1>게시글 등록</h1>
        <hr>
        <section>
            <form id="save-form">
                <div class="form-group mb-2">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" name="title" id="title"/>
                </div>
                <div class="form-group mb-2">
                    <label for="content">내용</label>
                    <textarea class="form-control" name="content" id="content"></textarea>
                </div>
            </form>
            <a href="/board" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="save-btn">등록</button>
        </section>
    </main>
    <script th:inline="javascript">

        if(!commons.getCookie("accessToken")) {
            alert("로그인이 필요합니다.");
            window.location.href = "/board";
        }

        const saveBtn = document.getElementById('save-btn');
        saveBtn.addEventListener("click", saveBtnEventHandler);

        async function saveBtnEventHandler(e) {
            const token = commons.getCookie("accessToken");
            const getUser = await user.getUser(token);

            if(!token || !getUser) {
                alert("로그인이 필요합니다.");
                return;
            }

            if(!confirm("글을 등록하시겠습니까?")) {
                return;
            }

            const formData = commons.getFormData("save-form");
            const data = {
                ...formData,
                userId: getUser.userId,
            }

            await post.save(token, data);



        }
    </script>
</th:block>
</html>