<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <main>
        <hr>
        <article>
            <header>
                <h1 class="mb-2" id="title-area"></h1>
                <div class="mb-1">
                    <span class="text-muted fs-sm" id="user-area"></span>
                    <span class="text-muted fs-sm"> | </span>
                    <span class="text-muted fs-sm" id="date-area"></span>
                </div>
                <div class="mb-1 collapse" id="auth-only">
                    <form>
                        <input type="hidden" name="id" id="id-area"/>
                        <input type="hidden" name="user-id" id="user-id-area" />
                    </form>
                    <a class="text-dark text-decoration-none fs-sm" id="update-post-link">수정</a>
                    <span class="fs-sm"> | </span>
                    <span class="fs-sm" role="button" id="delete-btn">삭제</span>
                </div>
            </header>
            <hr>
            <div id="content-area">
            </div>
            <div id="reply-area">
                
            </div>
        </article>
    </main>
    <script th:inline="javascript">

            async function loadDetailPage() {
                const getPostId = window.location.pathname.substring(7);
                const token = commons.getCookie("accessToken");

                const getPost = await post.getPost(getPostId);

                document.getElementById('id-area').value = getPost.postId;
                document.getElementById('title-area').innerText = getPost.title;
                document.getElementById('user-area').innerText = getPost.user;
                document.getElementById('user-id-area').value = getPost.userId;
                document.getElementById('content-area').innerText = getPost.content;
                document.getElementById('date-area').innerText = getPost.createdDate.replace("T", " ");
                document.getElementById('update-post-link').href = "/board/newpost/"+ getPost.postId;

                if(token) {
                    const getUser = await user.getUser(token);
                    if(getUser && (getUser.userId === getPost.userId)) {
                        document.getElementById('auth-only').classList.remove("collapse");
                    }
                }

            }

            loadDetailPage();

            // 삭제
            const deleteBtn = document.getElementById('delete-btn');
            deleteBtn.addEventListener("click", deleteBtnEventHandler);

            async function deleteBtnEventHandler(e) {
                const postUserId = document.getElementById('user-id-area').value;
                const postId = document.getElementById('id-area').value;

                const token = commons.getCookie("accessToken");
                const getUser = await user.getUser(token);


                if(!getUser || !token) {
                    alert("로그인이 필요합니다.");
                    return;
                } else if(getUser.userId != postUserId) {
                    alert("사용자 정보가 일치하지 않습니다.");
                    return;
                } else if(!confirm("글을 삭제하시겠습니까?")) {
                    return;
                }

                await post.delete(token, postId);

            }

    </script>
</th:block>
</html>