<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <main>
        <article>
            <header>
                <h1 class="mb-2" id="title-area"></h1>
                <div class="mb-1">
                    <span class="text-muted fs-sm" id="user-area"></span>
                    <span class="text-muted fs-sm"> | </span>
                    <span class="text-muted fs-sm" id="date-area"></span>
                </div>
                <div class="mb-1 collapse" id="auth-only">
                    <form>
                        <input type="hidden" name="id" id="id-area"/>
                    </form>
                    <a class="text-dark text-decoration-none fs-sm" id="update-post-link">수정</a>
                    <span class="fs-sm"> | </span>
                    <span class="fs-sm" role="button" id="delete-btn">삭제</span>
                </div>
            </header>
            <hr>
            <div id="content-area">
            </div>
        </article>
    </main>
    <script th:inline="javascript">

        window.onload = async function() {
            const getPostId = window.location.pathname.substring(7);
            const token = commons.getCookie("accessToken");

            const getUser = await user.getUser(token);
            const getPost = await post.getPost(getPostId);

            const titleArea = document.getElementById('title-area');
            const idArea = document.getElementById('id-area');
            const contentArea = document.getElementById('content-area');
            const userArea = document.getElementById('user-area');
            const dateArea = document.getElementById('date-area');
            const updatePostLink = document.getElementById('update-post-link');
            const authOnly = document.getElementById('auth-only');

            function loadDetailPage(post, user) {
                titleArea.innerText = post.title;
                userArea.innerText = post.user;
                contentArea.innerText = post.content;
                idArea.value = post.postId;
                dateArea.innerText = post.modifiedDate.replace("T", " ");
                updatePostLink.href = "/board/newpost/"+ post.postId;

                if(user && (user.userId === post.userId)) {
                    authOnly.classList.remove("collapse");
                }
            }

            loadDetailPage(getPost, getUser);

            // 삭제
            const deleteBtn = document.getElementById('delete-btn');
            deleteBtn.addEventListener("click", deleteBtnEventHandler);

            async function deleteBtnEventHandler(e) {

                if(!getUser || !token) {
                    alert("로그인이 필요합니다.");
                    return;
                } else if(getUser.userId != getPost.userId) {
                    alert("사용자 정보가 일치하지 않습니다.");
                    return;
                } else if(!confirm("글을 삭제하시겠습니까?")) {
                    return;
                }

                const postId = document.getElementById('id-area').value;

                await post.delete(token, postId);

                window.location.href = '/board';
            }
        }

    </script>
</th:block>
</html>