<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <main class="m-auto" style="max-width:330px; padding:15px">
        <div class="input-form col-md-12 mx-auto">
            <h1 class="mb-3">내 정보</h1>
            <form class="validation-form" id="userinfo-form" novalidate>
                <div class="mb-3">
                    <input type="hidden" name="userId" id="user-id">
                    <div class="form-floating input-group mb-2">
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" disabled>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating input-group mb-2">
                        <input type="text" class="form-control" id="name" placeholder="name" name="name">
                        <label for="name">이름</label>
                        <button class="btn btn-outline-secondary" type="button" id="check-name-btn">중복확인</button>
                        <div class="alert alert-warning collapse" role="alert" id="name-alert">
                        </div>
                    </div>
                </div>
                <div class="mb-4"></div>
                <button class="w-100 btn btn-primary btn-lg btn-block" type="button" id="userinfo-update-btn">수정</button>
            </form>
        </div>
    </main>
    <script th:inline="javascript">

        const infoUserId = document.getElementById("user-id");
        const infoUserEmail = document.getElementById("email");
        const infoUserName = document.getElementById("name");


        async function loadMyPage() {
            const token = commons.getCookie("accessToken");

            if(!token) {
                alert("로그인이 필요합니다.");
                window.location.replace("/login");
                return;
            }

            const getUser = await user.getUser(token);

            if(!getUser) {
                window.location.replace("/board");
                return;
            }

            infoUserId.value = getUser.userId;
            infoUserEmail.value = getUser.email;
            infoUserName.value = getUser.name;

        }

        loadMyPage();

        const nameAlert = document.getElementById("name-alert");

        document.getElementById('check-name-btn').addEventListener("click", async function() {
            const name = {
                name: document.getElementById('name').value,
            }
            const result = await user.checkName(name);
            nameAlert.innerText = result.message;
            showElement(nameAlert);
        });

        const userInfoUpdateBtn = document.getElementById("userinfo-update-btn");

        userInfoUpdateBtn.addEventListener("click", userInfoUpdateBtnEventHandler);

        async function userInfoUpdateBtnEventHandler(e) {
            const token = commons.getCookie("accessToken");

            if(!token) {
                alert("로그인이 필요합니다.");
                window.location.replace("/login");
                return;
            }

            const getUser = await user.getUser(token);

            if(!getUser) {
                window.location.replace("/board");
                return;
            }

            const data = commons.getFormData("userinfo-form");

            if(data.userId != getUser.userId) {
                alert("사용자 정보가 일치하지 않습니다.");
                return;
            }

            const result = await user.update(token, data);

            if(!result){
                return;
            }
            alert("수정 완료");

            hideElement(nameAlert);
        }




    </script>
</th:block>
</html>